<launch>
    <arg name="UAV_NAME" default="$(env UAV_NAME)" />
    <arg name="/fwd_left/x" default="" />
    <rosparam file="$(find basler_stereopair_driver)/config/camera_positions.yaml" />
    <!-- <arg name="" default="" value=""/> -->

    <group ns="$(arg UAV_NAME)">
<!-- http://wiki.ros.org/tf#static_transform_publisher -->
        <node pkg="tf" type="static_transform_publisher" name="camera1_fleft_pose" args="-0.5864 0 0.5864 0.653 -0.271 -0.271 0.653 link1_parent link1 100" />
        <node pkg="tf" type="static_transform_publisher" name="camera2_fright_pose" args="0.5864 0 0.5864 0.271 -0.653 -0.653 0.271 link1_parent link1 100" />
    </group>

</launch>