<launch>
    <arg name="UAV_NAME" default="$(env UAV_NAME)" />
    <arg name="base_frame_id" default="$(arg UAV_NAME)/basler_stereopair/base" />
    <arg name="camera1_fleft_pose" default="$(arg UAV_NAME)/basler_stereopair/camera1_fleft_pose" />
    <arg name="camera2_fright_pose" default="$(arg UAV_NAME)/basler_stereopair/camera2_fright_pose" />


    <rosparam file="$(find basler_stereopair_driver)/config/camera_positions.yaml" />
    <!-- <arg name="" default="" value=""/> -->

    <group ns="$(arg UAV_NAME)">
<!-- http://wiki.ros.org/tf#static_transform_publisher -->

        <node pkg="tf" type="static_transform_publisher" name="camera1_fleft_pose" args="0.05864 0.05864 0 -0.653 0.271 -0.271 0.653 $(arg base_frame_id) $(arg camera1_fleft_pose) 100" />
        <node pkg="tf" type="static_transform_publisher" name="camera2_fright_pose" args="0.05864 -0.05864 0 -0.271 0.653 -0.653 0.271 $(arg base_frame_id) $(arg camera2_fright_pose) 100" />
    </group>

</launch>